<% include ../partials/header %>
<div class = "container">
    <div class = "row">
        <h1 style = "text-align: center">Sign Up</h1>
        <div style = "width: 30%; margin: 0 auto;">
            <form action = "/register" method = "post">
                <div class = "form-group">
                    <input type = "text" name = "username" placeholder = "username" class = "form-control">
                </div>
                <div class = "form-group">   
                    <input type = "password" name = "password" placeholder = "password" class = "form-control">
                </div>
                 <div class = "form-group">   
                    <input type = "text" name = "adminCode" placeholder = "Admin Code" class = "form-control">
                </div>
                <div class = "form-group">
                    <button class = "btn btn-lg btn-default btn-block btn-primary">Sign Up</button>
                </div>
            </form>
            <a href = "/">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>